body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(140, 95, 69); 
    color: rgb(92, 54, 43);
    font-family: 'DM Serif Text', serif;  
}

.container {
    text-align: center;
}

h1 {
    font-size: 4rem; 
    margin-bottom: 2rem;
    font-weight: 400; 
}

.shapes {
    display: flex;
    gap: 1.5rem; 
    justify-content: center;
}

.shape {
    position: relative;
    width: 60px;
    height: 60px;
    display: inline-block;
    background-color: rgb(92, 54, 43); 
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.circle {
    border-radius: 50%;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid rgb(92, 54, 43);
    background: none;
}

.square {
    background-color: rgb(92, 54, 43);
}

.shape:hover {
    transform: rotate(360deg); 
}

a {
    text-decoration: none;
    display: inline-block;
}

.message-container {
    margin-top: 20px;
    font-size: .8rem;
    color: rgb(92, 54, 43);
    text-align: center;
}

#shape-message {
    display: inline-block;
}

.footer-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 0.5rem;
    color: rgb(92, 54, 43);   
}